@media screen and (min-width: 64em) {
  body {
    background: url(/resources/images/ebp/BackgroundBody.jpg) top center
      repeat-x;
  }
}
h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a {
  color: #0092ce;
}
.radius {
  border-radius: 6px;
}
div.mainHeader {
  background-image: -o-radial-gradient(50% 209%, #08a9ec 50%, #0092ce 100%);
  background-image: -moz-radial-gradient(50% 209%, #08a9ec 50%, #0092ce 100%);
  background-image: -ms-radial-gradient(50% 209%, #08a9ec 50%, #0092ce 100%);
  background-image: radial-gradient(50% 209%, #08a9ec 50%, #0092ce 100%);
}
@media only screen and (min-width: 64.063em) {
  div.mainHeader .header {
    background: url(/resources/images/ebp/HeaderTexture.jpg) top center
      no-repeat;
  }
}
div.mainHeader .header .topbar {
  color: #fff;
}
div.mainHeader .header .topbar ul.button-group .button.small {
  background: none;
  color: #fff;
  font-size: 1.2em;
}
div.mainHeader .header .topbar ul.button-group .button.small .cartIndicator {
  background: #dc0d17;
  box-shadow: 2px 2px 0 #006e9b;
}
div.mainHeader #cartContent a.standard {
  background: #50e3c2;
  text-shadow: 1px 1px 2px #15856c;
  font-weight: 400;
  font-size: 1.4em;
  border-radius: 6px;
}
div.mainHeader #cartContent a.standard:hover {
  background: #1cb18f;
}
.searchByLetter {
  color: #20c7a1;
  padding: 0;
}
.image-moreben {
  height: 32px;
}
form#formsearch {
  height: 35px;
  float: left;
}
@media only screen and (min-width: 64.063em) {
  .searchBar .searchBG {
    background: url(/resources/images/ebp/bgSearchHeader.png) center bottom
      no-repeat;
  }
  form#formsearch {
    padding: 0 1em;
  }
}
@media only screen and (max-width: 40.063em) {
  form#formsearch {
    height: 40px;
    margin: 12px auto 0 -1em;
  }
  .toolbarApp {
    font-size: 14px;
  }
  .toolbarApp .cartIndicator {
    left: 90% !important;
  }
}
@media only screen and (max-width: 64.063em) {
  .searchBar {
    margin-top: 0.6em;
  }
}
.searchBar .searchByLetter a.off,
span.off {
  color: #ccc;
}
.searchBar .searchByLetter a.active {
  background: #50e3c2;
  color: #fff;
}
.searchBar .searchByLetter a.active:hover {
  color: #fff;
}
.searchBar .searchByLetter a:hover {
  color: #000102;
  text-decoration: underline;
}
.searchBar .searchNowButton {
  background: #006e9b;
  width: 120px;
  left: -30px;
}
.searchBar .searchNowButton:hover {
  background: #004a68;
}
.mainContent .article {
  box-shadow: 0 3px 8px #ddd;
  background: #fafafa;
}
.cartContent,
.cartSummary {
  box-shadow: 1px 1px 1px #b0b0b0;
}
.widgetPanel h2 {
  background: #0092ce;
}
.widgetPanel .price {
  color: #dc0d17;
}
.widgetPanel a.addToCart {
  background: #50e3c2;
  text-shadow: 1px 1px 2px #15856c;
}
.widgetPanel a.addToCart:hover {
  background: #15856c;
}
.widgetPanel a.addToCart.mainCTA.aqua {
  background: #50e3c2;
}
.widgetPanel a.addToCart.mainCTA.aqua:hover {
  background: #1cb18f;
}
.widgetPanel a.addToCart.mainCTA.green {
  background-image: -o-linear-gradient(-89deg, #99d629 0, #85ba24 100%);
  background-image: -moz-linear-gradient(-89deg, #99d629 0, #85ba24 100%);
  background-image: -ms-linear-gradient(-89deg, #99d629 0, #85ba24 100%);
  background-image: linear-gradient(-179deg, #99d629 0, #85ba24 100%);
  border-radius: 6px;
}
.widgetPanel a.addToCart.mainCTA.green:hover {
  background-image: -o-linear-gradient(-89deg, #85ba24 0, #99d629 100%);
  background-image: -moz-linear-gradient(-89deg, #85ba24 0, #99d629 100%);
  background-image: -ms-linear-gradient(-89deg, #85ba24 0, #99d629 100%);
  background-image: linear-gradient(-179deg, #85ba24 0, #99d629 100%);
}
.widgetPanel.edTrialPack h2 {
  background: #50e3c2;
  text-shadow: 1px 1px 2px #1cb18f;
}
.widgetPanel.SpecialOffers h2 {
  background: #ef8747;
  text-shadow: 1px 1px 2px #bf5311;
}
.widgetPanel.TopSellers h2 {
  background: #3ec76e;
  text-shadow: 1px 1px 2px #247b42;
}
dl.accordion dd {
  border-top: 4px #fafafa solid;
}
dl.accordion dd.active a {
  background: #0092ce;
  color: #fff;
}
dl.accordion dd .content {
  background: 0 0 !important;
}
.cartContent {
  background: #f9f7f7;
}
.cartContent h2,
.cartContent h2 a {
  color: #555;
}
.cartContent .price {
  color: #4caf4f;
}
.cartContent .metadata,
.cartContent .metadata a {
  color: #555;
}
.cartContent .metadata a:hover,
.cartContent:hover .price,
.cartContent:hover a,
.cartContent:hover h2,
.cartSummary .finalAmount,
.cartSummary .finalAmount a,
.sidebar,
.sidebar h1,
.sidebar.dark .catNavigation a,
.sidebar.dark .catNavigation h1,
.sidebar.dark .catNavigation h1 a,
.sidebar.dark .catNavigation h2,
.sidebar.dark .catNavigation h2 a,
.sidebar.dark .catNavigation h3,
.sidebar.dark .catNavigation h3 a,
.sidebar.dark .catNavigation h4,
.sidebar.dark .catNavigation h4 a {
  color: #fff;
}
.cartContent:hover {
  background-image: -o-linear-gradient(-89deg, #07a6e7 0, #047bab 100%);
  background-image: -moz-linear-gradient(-89deg, #07a6e7 0, #047bab 100%);
  background-image: -ms-linear-gradient(-89deg, #07a6e7 0, #047bab 100%);
  background-image: linear-gradient(-179deg, #07a6e7 0, #047bab 100%);
}
.cartSummary {
  background: url(/resources/images/bg_cart.png);
  border: 1px solid #ddd;
  padding: 2%;
}
.cartSummary .finalAmount {
  background: #0092ce;
  border-radius: 6px;
  padding: 3% 4%;
  float: right;
}
.sidebar .sidebarEnd {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 60px;
}
.sidebar.dark .catNavigation {
  color: #fff;
  margin-bottom: 15px;
}
@media only screen and (min-width: 64.063em) {
  .sidebar.left {
    background: url(/resources/images/ebp/sidebarShadow.png) 165px top no-repeat
      #0092ce;
  }
  .sidebar.right {
    background: url(/resources/images/ebp/sidebarShadow.png) -92px top no-repeat
      #0092ce;
  }
}
.sidebar ul li ul {
  border-top: 1px #35c4ff dotted;
}
.sidebar ul li ul li a {
  color: #fff;
}
.sidebar ul li ul li a:hover {
  color: #4fccff;
  text-decoration: underline;
}
.sidebar ul li ul li.active {
  font-weight: 700;
  text-decoration: underline;
}
.backHomepage {
  background-image: -o-linear-gradient(
    -89deg,
    #fff 0,
    #fcfcfc 46%,
    #e8e8e8 100%
  );
  background-image: -moz-linear-gradient(
    -89deg,
    #fff 0,
    #fcfcfc 46%,
    #e8e8e8 100%
  );
  background-image: -ms-linear-gradient(
    -89deg,
    #fff 0,
    #fcfcfc 46%,
    #e8e8e8 100%
  );
  background-image: linear-gradient(-179deg, #fff 0, #fcfcfc 46%, #e8e8e8 100%);
  box-shadow: 1px 1px 2px #000;
}
.backHomepage:hover {
  background-image: -o-linear-gradient(
    -89deg,
    #fff 0,
    #e8e8e8 46%,
    #fcfcfc 100%
  );
  background-image: -moz-linear-gradient(
    -89deg,
    #fff 0,
    #e8e8e8 46%,
    #fcfcfc 100%
  );
  background-image: -ms-linear-gradient(
    -89deg,
    #fff 0,
    #e8e8e8 46%,
    #fcfcfc 100%
  );
  background-image: linear-gradient(-179deg, #fff 0, #e8e8e8 46%, #fcfcfc 100%);
}
.subscribeBox {
  background: #00a4e8 !important;
  box-shadow: 0 2px 3px #004a68 inset;
  color: #fff;
}
.subscribeBox h1,
.subscribeBox h2 {
  color: #fff !important;
}
.subscribeBox input[type='text'] {
  border-radius: 8px;
  font-size: 1em;
}
.subscribeBox a.SubscribeNow {
  background: #2dddb6;
  border-radius: 6px !important;
  float: left;
  font-size: 22px;
  font-weight: 400;
  padding: 2px 0 0;
  width: 100%;
}
body,
p {
  font-size: 1em;
  line-height: 1.4em;
}
.subscribeBox a.SubscribeNow:hover {
  background: #20c7a1;
}
.subscribeBox.subscribeBoxSidebar {
  background: none !important;
  float: left;
  box-shadow: 0 0 0 transparent !important;
}
.mainFooter {
  background: #20c7a1;
  border-top: 3px #15856c solid;
  color: #e8f8ff;
}
.mainFooter .footerNav ul li a,
.mainFooter h1,
.mainFooter h1 a,
.mainFooter h2,
.mainFooter h2 a,
.mainFooter h3,
.mainFooter h3 a,
.mainFooter h4,
.mainFooter h4 a {
  color: #fff;
}
.mainFooter .footerNav ul li a:hover {
  color: #fff;
}
@media only screen and (min-width: 64.063em) {
  .toolFree.footer {
    top: -24px;
    overflow: visible;
    background: #1cb18f;
    padding-top: 1%;
    position: relative;
    left: 8px;
  }
  .toolFree .ToolFreeEnd {
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 20px;
    border-style: solid;
    border-width: 27px 150px 0;
    border-color: #1cb18f transparent transparent;
  }
  div.mainHeader .header .toolbar ul.button-group {
    float: right;
  }
}
.toolFree .number,
.toolFree h1,
.toolFree h1 a,
.toolFree h2,
.toolFree h2 a,
.toolFree h3,
.toolFree h3 a,
.toolFree h4,
.toolFree h4 a {
  color: #fff;
}
.icon {
  display: inline-block;
}
.icon.medium {
  width: 58px;
  height: 58px;
}
.icon.medium.phone {
  background: url(/resources/images/PhoneIcon.png) top center no-repeat;
}
.icon.medium.AddToCartIcon {
  background: url(/resources/images/AddToCartIcon.png) top center no-repeat;
}
.icon.small {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}
.icon.small.dropdown {
  background: url(/resources/images/dropdownIcon.png) top center no-repeat;
}
.icon.small.myAccountIcon {
  background: url(/resources/images/myAccountIcon.png) top center no-repeat;
}
.icon.small.myOrderIcon {
  background: url(/resources/images/myOrderIcon.png) top center no-repeat;
}
.icon.small.myCartIcon {
  background: url(/resources/images/myCartIcon.png) top center no-repeat;
}
.icon.small.AddToCartIcon {
  background: url(/resources/images/AddToCartIcon.png) top center no-repeat;
}
.icon.cta {
  width: 32px;
  height: 32px;
  position: relative;
  top: 3px;
}
.icon.cta.AddToCartIconMain {
  background: url(/resources/images/BuyNowIcon.png) top center no-repeat;
  float: right;
}
.icon.close {
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  top: -18px;
  left: -18px;
  background: url(/resources/images/icon_close.png) top center no-repeat;
}
.icon.close:hover {
  background-position: bottom center;
}
.icon.close:focus {
  background-position: 0 -35px;
}
body {
  font-family: 'PT Sans', sans-serif;
}
a.button,
h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a {
  font-family: 'PT Sans Narrow', sans-serif;
}
a.button {
  font-size: 1.2em;
  font-weight: 700;
}
div.mainHeader {
  z-index: 1;
  position: relative;
}
div.mainHeader .header .topbar {
  padding: 2% 0;
}
div.mainHeader .header .toolbar ul.button-group {
  margin: 0;
}
div.mainHeader .header .toolbar ul.button-group .button.small {
  padding: 6px 10px 0;
  margin: 0;
  font-weight: 400;
}
div.mainHeader .header .toolbar ul.button-group .button.small .cartIndicator {
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 12px;
  left: 24px;
  padding: 3px 5px 2px;
  position: absolute;
  top: -4px;
}
.breadcrumbs,
dl.accordion dd,
dl.accordion dd a {
  font-family: 'PT Sans Narrow', sans-serif;
}
@media only screen and (min-width: 64.063em) {
  div.mainHeader .header .toolbar ul.button-group.topOptions {
    position: relative;
  }
}
@media only screen and (max-width: 40.063em) {
  .fixHeader {
    position: fixed !important;
    top: 0;
  }
}
.icons,
.labelTitle,
.sidebar {
  position: relative;
}
div.mainHeader .header .toolbar ul.button-group ul.f-dropdown li {
  width: 100%;
}
.f-dropdown {
  color: #333;
  border-radius: 6px;
}
.f-dropdown.contentCart {
  padding: 4%;
}
.searchBar .searchByLetter a {
  padding: 0 1px;
}
.searchBar .searchByLetter a.active {
  line-height: 4em;
  padding: 1px 6px;
  font-size: 0.9em;
  margin: 0;
  display: inline;
  border-radius: 20px;
}
.searchBar .searchNowButton {
  font-weight: 400;
  line-height: 1.9em;
}
.breadcrumbs a {
  font-size: 1.2em;
}
.breadcrumbs > * {
  line-height: 1.5rem;
}
.mainContent {
  padding-bottom: 0;
  padding-top: 0;
  z-index: 0;
}
.mainContent .article {
  padding-top: 2%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  min-height: 545px;
}
.mainContent .article a {
  text-decoration: underline;
}
.widgetPanel {
  margin: 0;
}
.widgetPanel h2 {
  font-size: 1.8em;
  color: #fff;
  padding: 1% 2%;
}
.widgetPanel .price {
  float: left;
  padding: 0 0 6% 1%;
}
.widgetPanel a.addToCart.mainCTA {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 38px;
  padding: 4px 12px;
  text-decoration: none;
  width: 135px;
}
@media only screen and (max-width: 40em) {
  .widgetPanel a.addToCart.mainCTA {
    width: 100%;
  }
}
.widgetPanel a.addToCart {
  float: left;
  padding: inherit;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  width: 100%;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 45px;
  left: 0;
  padding-top: 10px;
}
.edTrialPack.panel.widgetPanel {
  margin-top: 10px;
}
.widgetPanel a.addToCart.mainCTA.green {
  font-size: 1.2em;
}
.widgetPanel a.addToCart .AddToCartIcon {
  float: right;
}
.widgetPanel.panel {
  border-radius: 6px;
  padding: 0;
}
.widgetPanel.SpecialOffers h2,
.widgetPanel.TopSellers h2,
.widgetPanel.edTrialPack h2 {
  border-radius: 5px 5px 0 0;
}
dl.accordion dd a {
  font-size: 1.5em;
}
.cartContent h2,
.cartContent h2 a,
dl.accordion dd .content {
  font-family: 'PT Sans', sans-serif;
}
.placedOrders {
  margin-bottom: 2% !important;
}
.placedOrders h2 {
  font-size: 1.5em;
}
.cartContent {
  margin-bottom: 5% !important;
}
.cartContent.radius {
  border-radius: 8px;
}
.cartContent h2,
.cartContent h2 a {
  font-size: 20px;
}
.cartContent .metadata,
.cartSummary,
.labelTitle,
.sidebar ul li,
table.tableDetails .titleTable {
  font-family: 'PT Sans Narrow', sans-serif;
}
.cartContent .metadata {
  font-size: 1.1em;
}
.cartContent .metadata a {
  margin: 6% 2% 0 0;
}
.cartSummary .totalTitle {
  font-weight: 700;
  font-size: 1.8em;
}
.cartSummary .conector {
  margin: 5% 0;
  font-size: 1.5em;
  color: #555;
}
.cartSummary .conector.buyElement {
  border-bottom: 1px #666 dotted;
  padding-bottom: 2%;
  padding-top: 3%;
}
.cartSummary .conector.total {
  background: #cef1ff;
  padding: 5% 2%;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #b0b0b0;
}
.cartSummary .conector .amountCheckout {
  text-align: right;
}
.cartSummary a.mainCheckout {
  font-size: 2em;
  background: #3ec76e;
  display: block;
  text-align: center;
  margin: 5% auto 0;
  max-width: 320px;
  text-decoration: none;
}
.cartSummary a.mainCheckout:hover {
  background: #2fa358;
}
.labelTitle {
  white-space: inherit;
  padding: 4px 10px;
  font-size: 16px !important;
  box-shadow: 1px 1px 2px #444 inset;
  top: -8px;
}
.labelTitle a {
  color: #444;
}
.productFirstLook {
  margin: 0 0 2%;
  float: left;
}
@media only screen and (max-width: 30.063em) {
  .labelTitle {
    margin: 1em auto;
    display: block;
    position: relative;
    text-align: center;
    width: auto;
  }
}
.productFirstLook .productImage {
  border: 4px solid #f0f0f0;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  float: left;
}
@media only screen and (min-width: 40.063em) {
  .productFirstLook .productImage {
    margin: 0 20px 20px 0;
  }
  .productDescription {
    padding: 1em;
  }
}
@media only screen and (max-width: 40.063em) {
  .productFirstLook .productImage {
    width: 100%;
    clear: both;
    text-align: center;
  }
}
.productFirstLook .productImage img {
  max-width: 265px;
}
.availability {
  margin: 0 0 1%;
}
table.tableDetails {
  width: 100%;
}
table.tableDetails th {
  background: #0092ce;
  border: 0;
}
table.tableDetails tr:hover {
  background-color: #cef7cf;
  font-weight: 700;
}
table.tableDetails td {
  text-align: center;
}
table.tableDetails .titleTable {
  color: #fff;
  font-size: 1.6em;
}
.productDescription {
  font-size: 14px;
  line-height: 1.5em;
  text-align: justify;
}
.productDescription li,
.productDescription p {
  font-size: 14px;
}
.comparing {
  background: #e8f8ff;
  padding: 3%;
  box-shadow: 1px 1px 2px #0092ce inset;
  float: left;
  border-radius: 8px;
}
.comparing .comparing-1 {
  text-align: left;
  border-right: 1px dotted #0092ce;
  padding-right: 3%;
}
.comparing .comparing-2 {
  text-align: right;
}
.termsConditions {
  height: 200px;
  overflow: auto;
  width: 100%;
  margin: 2% auto 4%;
  padding: 2%;
  border: 1px solid #ddd;
}
.sidebar {
  z-index: 3;
  margin-bottom: 20%;
  left: 13px;
  top: 18px;
}
.sidebar h1 {
  margin-left: 0;
  padding: 0;
  clear: both;
}
.sidebar h1,
.sidebar h1 a {
  font-size: 1.4em;
}
.sidebar h2,
.sidebar h2 a {
  font-size: 1.2em;
}
.sidebar h3,
.sidebar h3 a,
.sidebar h4,
.sidebar h4 a,
.sidebar h5,
.sidebar h5 a {
  font-size: 1em;
}
@media only screen and (min-width: 64.063em) {
  .sidebar.left {
    right: -15px;
    top: 20px;
  }
  .sidebar.right {
    left: -15px;
    top: 20px;
  }
}
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  list-style: none;
  font-size: 1.3em;
  margin-top: 4%;
  font-weight: 700;
}
.sidebar ul li ul {
  padding-top: 4%;
}
.sidebar ul li ul li {
  list-style-image: url(/resources/images/ebp/arrowBullet.png);
  margin: 0 0 0 8%;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.mainFooter .footerNav ul,
span.contactclick a {
  font-family: 'PT Sans Narrow', sans-serif;
}
.backHomepage {
  margin-top: 2%;
  display: inline;
  float: left;
  font-size: 1.1em !important;
  font-weight: 400 !important;
  border-radius: 6px;
}
.icons {
  float: none;
  margin: 0 auto 8%;
  text-align: center;
  top: 2em;
}
.liveChat {
  background: 0 0;
  right: 1%;
  top: 40%;
  width: 120px;
  height: 50px;
}
@media (min-width: 1024px) {
  .liveChat {
    position: fixed;
  }
}
.liveChat .status {
  display: block;
  background: url(/resources/images/ebp/chat.png) bottom center no-repeat;
  float: left;
  width: 120px;
  height: 50px;
}
.liveChat .status.online {
  background-position: center top;
}
.liveChat .status .hideText {
  display: none;
}
.subscribeBox {
  padding: 3% 2% 1.5% !important;
  border-radius: 6px !important;
}
.subscribeBox h1 {
  font-size: 1.6em;
  margin: 0 !important;
  padding: 0;
  font-weight: 700;
}
.subscribeBox h2 {
  font-size: 1.2em;
}
.mainFooter {
  padding: 2% 0;
  text-align: left;
}
.mainFooter .footerContainer {
  max-width: 1280px;
  margin: 0 auto;
}
.mainFooter h1,
.mainFooter h1 a,
.mainFooter h2,
.mainFooter h2 a,
.mainFooter h3,
.mainFooter h3 a,
.mainFooter h4,
.mainFooter h4 a {
  font-size: 1.1em;
  margin: 0.2em 0 0 0.2em;
}
.mainFooter .footerNav {
  text-align: center;
}
.mainFooter .footerNav ul {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
.mainFooter .footerNav ul li {
  display: inline-block;
}
.mainFooter .footerNav ul li a {
  padding: 0 8px;
}
.mainFooter .footerNav ul li a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 64.063em) {
  .mainFooter .paymentMethod {
    text-align: right;
    padding-right: 4%;
  }
}
.paymentMethod img {
  margin-top: 0.5em;
  width: 22%;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .toolFree .icon {
    display: none;
  }
}
.toolFree h1,
.toolFree h1 a,
.toolFree h2,
.toolFree h2 a,
.toolFree h3,
.toolFree h3 a,
.toolFree h4,
.toolFree h4 a {
  font-size: 1.1em;
  margin: 0.2em 0 0 0.2em;
}
.toolFree .number {
  font-size: 22px;
  display: block;
  font-weight: 700;
}
.contact.contact-left {
  margin-bottom: 0;
  float: left;
  width: 285px;
}
img#LiveHelpStatusDefault {
  width: 120px;
  float: right;
}
span.contactclick a {
  color: #fff;
  font-size: 1.2em;
  font-weight: 100;
}
.contact .number {
  font-size: 18px;
  float: left;
  padding: 10px 5px 0 0;
  margin-left: 10px;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 64.063em) {
  .contact .number {
    width: 78%;
  }
}
.contact .skype {
  float: left;
  padding: 5px 5px 0 0;
}
.catNavigation {
  min-height: 600px;
}
.error.alert.alert-danger {
  width: 100%;
  float: left;
  padding: 5px 5px 5px 10px;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;
}
.alert-danger {
  background-color: #fdefee;
  border-color: #fad7db;
  color: #b13d31;
}
.alert-success {
  background-color: #4e9d56;
  border-color: #fad7db;
  color: #fff;
}
.large-12.columns.mainHeader {
  margin-bottom: 0;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.mainFooter {
  margin-bottom: 0 !important;
}
[class*='column'] + [class*='column']:last-child {
  float: left;
}
.widgetPanel .price {
  font-size: 1em;
  height: 50px;
}
.large-3.medium-3.small-6.columns img,
.large-5.columns a img {
  width: 100%;
  height: 100px;
}
.row.cupon {
  padding-top: 15px;
}
span.bggreen.bubble,
span.bgred.bubble {
  color: #fff;
  padding: 4px;
  border-radius: 4px;
}
.displaynone {
  display: none;
}
a.button.postfix.standard.bgred {
  background: #f05050 !important;
}
.cartContents a.button.postfix.standard.bgred {
  text-decoration: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
}
a.button.mainCheckout.radius.blue {
  background: #166283;
  text-decoration: none;
}
.columns {
  margin-bottom: 10px;
}
.phone-icon {
  float: left;
  width: 60%;
}
.phone-icon svg {
  width: 32px;
  height: 32px;
  float: left;
  margin-top: 5px;
}
#load,
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
span.bgred.bubble {
  background: #f05050;
}
span.bggreen.bubble {
  background: #5fa343;
}
.checkuotalert.alert.alert-warning {
  font-size: 12px;
}
p.freerisk {
  padding: 10px;
  font-size: 13px;
  color: #524545;
  text-align: justify;
  margin-top: 15px;
}
#load {
  position: fixed;
  background: url(/resources/css/images/loader.gif) center center no-repeat #fff;
  z-index: 2000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.ordertitle h5 {
  margin-bottom: 25px;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 900;
}
.modal {
  visibility: hidden;
}
.modal__contents {
  background: #fff;
  width: 32rem;
  position: absolute;
  left: 50%;
  margin-left: -16rem;
  top: 6rem;
  min-height: 280px;
}
.modal__contents .contentmodal {
  padding: 20px;
}
.modal__contents h1 {
  margin: 0 0 20px;
  padding: 0;
  text-align: left;
  display: block;
  font-size: 25px;
}
.modal__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  text-decoration: none;
}
.modal--show {
  visibility: visible;
}
.modal--transition {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.modal--show .modal--transition {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  z-index: 1000;
}
input.inputcheckorder {
  margin: 0 0 10px;
  padding: 20px;
  font-size: 15px;
}
input.btncheckorder {
  margin-top: 10px;
}
#messages {
  width: 900px;
  margin: 0 auto;
  padding: 0;
}
#messages .message {
  background: #fcfdc9;
  padding: 15px;
  border-radius: 20px;
}
.shipping_order {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}
.shipping_order address {
  background-color: #dde4f0;
  padding: 10px 20px;
  border: 2px dotted #c0cef9;
}
.shipping_order address p {
  margin: 0 0 5px;
  font-family: monospace;
}
#shippingTypes {
  display: none;
}
#shippingTypes.show {
  display: block;
}
.errorcountry {
  display: none;
}
@media (max-width: 48rem) {
  .modal__contents {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
  }
  .modal__close {
    display: block;
  }
  .modal--transition {
    -webkit-transform: translateX(0) translateY(150%);
    -moz-transform: translateX(0) translateY(150%);
    -ms-transform: translateX(0) translateY(150%);
    transform: translateX(0) translateY(150%);
  }
}
table tr td,
table tr th {
  font-size: 1.1rem;
}
@media only screen and (max-width: 40.063em) {
  table.tableDetails td {
    text-align: right;
  }
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  td,
  tr {
    clear: both;
    display: block;
    float: left;
  }
  table,
  tbody,
  td,
  th,
  thead,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tbody tr:first-child {
    display: none;
  }
  tr {
    border: 1px solid #ccc;
    width: 92%;
    margin: 2% 4%;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    width: 100%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: 'Quantity';
  }
  td:nth-of-type(2):before {
    content: 'Price';
  }
  td:nth-of-type(3):before {
    content: 'Price Per Pill';
  }
  td:nth-of-type(10):before,
  td:nth-of-type(4):before,
  td:nth-of-type(5):before,
  td:nth-of-type(6):before,
  td:nth-of-type(7):before,
  td:nth-of-type(8):before,
  td:nth-of-type(9):before {
    content: '';
  }
}
@media only screen and (min-width: 64.063em) {
  .sidebar .sidebarEnd {
    background: url(/resources/images/sidebar_end.jpg) bottom center no-repeat;
  }
  .sidebar.dark {
    background: #0092ce;
  }
  .sidebar {
    background: url(/resources/images/ebp/sidebarShadow.png) 160px top no-repeat
      #0092ce;
    padding: 8% 2% 12% 8%;
  }
}
.tooltipccv {
  text-decoration: none;
  position: relative;
}
.tooltipccv span {
  display: none;
  color: #000;
  background: #fff;
}
.tooltipccv span img {
  float: left;
  margin: 0 8px 8px 0;
}
.tooltipccv:hover span {
  display: block;
  position: absolute;
  top: -141px;
  left: -290px;
  z-index: 1000;
  width: 340px;
  min-height: 128px;
  border: 1px solid #ddd;
  margin-top: 12px;
  margin-left: 32px;
  overflow: hidden;
  padding: 8px;
}
.tooltipccv b {
  background: #2e6dc4;
  color: #fff;
  padding: 0 5px;
  border-radius: 10px;
  text-decoration: none;
}
.typepayment {
  height: 315px;
}
.typepayment .name {
  width: 100%;
  float: left;
  background: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  height: 100px;
}
.typepayment .totalamount,
.typepayment .totallabel {
  width: 50%;
  float: left;
  padding: 6px 0;
  text-align: center;
  border: 1px solid #ccc;
  font-weight: 700;
}
.typepayment .name img.moneygram {
  margin: 10px 0;
}
.typepayment .totallabel {
  border-top: none;
  font-size: 13px;
}
.typepayment.reddanger .gtotallabel,
.typepayment.reddanger .processinglabel,
.typepayment.reddanger .totallabel {
  background: #e8e8e8;
  color: #4a4a4a;
}
.typepayment.reddanger .processingamount,
.typepayment.reddanger .totalamount {
  background: #e23a3a;
  color: #fff;
}
.typepayment.reddanger .gtotalmount {
  background: #ca1111;
  color: #fff;
}
.typepayment.normal .gtotallabel,
.typepayment.normal .processinglabel,
.typepayment.normal .totallabel {
  background: #e8e8e8;
  color: #4a4a4a;
}
.typepayment.normal .processingamount,
.typepayment.normal .totalamount {
  background: #0092ce;
  color: #fff;
}
.typepayment.normal .gtotalmount {
  background: #0373a0;
  color: #fff;
}
.typepayment.featured .gtotallabel,
.typepayment.featured .processinglabel,
.typepayment.featured .totallabel {
  background: #e8e8e8;
  color: #4a4a4a;
}
.typepayment.featured .processingamount,
.typepayment.featured .totalamount {
  background: #009c42;
  color: #fff;
}
.typepayment.featured .gtotalmount {
  background: #059241;
  color: #fff;
}
.typepayment[class*='column'] + [class*='column']:last-child {
  float: left;
}
.typepayment .totalamount {
  border-top: none;
  font-size: 18px;
}
.typepayment .processingamount,
.typepayment .processinglabel {
  width: 50%;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  padding: 6px 0;
}
.typepayment .processinglabel {
  border-top: none;
  font-size: 13px;
  font-weight: 700;
}
.typepayment .processingamount {
  border-top: none;
  font-size: 18px;
  font-weight: 700;
}
.typepayment .gtotallabel,
.typepayment .gtotalmount {
  border: 1px solid #ccc;
  width: 100%;
  float: left;
  font-weight: 700;
  text-align: center;
}
.typepayment .gtotallabel {
  padding: 6px 0;
  border-top: none;
  font-size: 15px;
}
.typepayment .gtotalmount {
  padding: 15px 0;
  border-top: none;
  font-size: 30px;
}
.typepayment .typeradiobutton {
  width: 100%;
  float: left;
  background: #e8e8e8;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-top: none;
}
.typepayment .typeradiobutton .radio {
  transform: scale(2);
}
.hide {
  display: none;
}
.likefieldset {
  border: 1px solid #ddd;
  clear: both;
  float: left;
  width: 100%;
  padding: 5px 15px;
  margin-bottom: 10px;
}
.likefieldset legend {
  padding: 10px 0;
  font-weight: 700;
}
.ordertitle {
  margin-bottom: 0;
}
.orderdetail {
  background: #eeecec;
  padding: 13px;
  color: #918c8c;
}
.orderdetail .large-3 {
  float: left;
}
.statusorder {
  font-size: 21px;
  margin-bottom: 4px;
  color: #7e7b7b;
}
.products_order .product {
  width: 100%;
  float: left;
  padding: 20px;
  background: #f5f5f5;
  margin-top: 10px;
}
.products_order .image {
  float: left;
}
.products_order .detail {
  float: left;
  padding: 10px 0 0 10px;
}
.products_order .detail .name {
  font-size: 15px;
  color: #838383;
}
.products_order .detail .price {
  width: 200px;
}
#Modalreadmore {
  text-align: center;
}
#Modalreadmore .icon {
  font-size: 60px;
  color: #0092ce;
}
#Modalreadmore input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  width: 100%;
}
#Modalreadmore .input-text {
  background: #eeeaea;
  border-bottom: 2px solid #cdcccc;
  outline: 0;
  color: #334;
}
#Modalreadmore .input-submit {
  margin-top: 10px;
  width: auto;
  background: #0092ce;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
}
#Modalreadmore p {
  font-size: 1.2em;
}
.testimonialContainer .orbit-next,
.testimonialContainer .orbit-prev {
  background-color: #50e3c2;
  margin-top: -75px;
}
.testimonialContainer .orbit-next:hover,
.testimonialContainer .orbit-prev:hover {
  background-color: #52c0a7;
}
.testimonialContainer img {
  height: 125px;
  margin-top: 25px;
}
@media only screen and (max-width: 360px) {
  div.mainHeader .header .toolbar ul.button-group .button.small.btnmodal {
    padding-left: 0 !important;
  }
}
@media only screen and (min-width: 60em) {
  .mainFooter .contact .phone-icon {
    width: 15%;
  }
  .mainFooter .contact .number {
    width: 60%;
  }
}
.cart-testimonials {
  padding-top: 30px;
}
.cart-testimonials img {
  height: 125px;
}
.cart-testimonials .orbit-next,
.cart-testimonials .orbit-prev {
  background-color: #50e3c2;
  margin-top: -75px;
}
.testimonialsContainer .testimonialCtn .ctnImage img {
  margin-top: 25px;
}
.testimonialsContainer .testimonialCtn {
  padding-bottom: 20px;
  padding-top: 20px;
}
.testimonialsContainer .testimonialCtn:nth-child(odd) .ctnImage {
  float: right;
}
.free_pills {
  background: #f16033;
  color: #fff;
  position: absolute;
  left: 22%;
  padding: 0.1em 0.5em;
  font-family: 'PT Sans Narrow', 'Avenir Next Condensed', 'Arial Narrow',
    sans-serif;
  font-size: 1.1em;
  top: -0.8em;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.free_pills.zelle {
  background-color: #e33a3a;
}
.title_po {
  margin-bottom: 15px;
}
.cartContent .free_pills_cart,
.cartContents .free_pills_cart {
  color: #f44336;
}
#ModalCoupon {
  padding: 0;
}
#ModalCoupon .modal-title h3 {
  color: #fff;
  padding: 15px;
  margin: 0;
}
#ModalCoupon .close-reveal-modal {
  color: #fff;
  font-size: 1.5rem;
}
#ModalCoupon modal-title h3 p {
  padding-bottom: 0;
  margin-bottom: 0;
}
#ModalCoupon .modal-title {
  background-color: #482f92;
}
#ModalCoupon,
#ModalCoupon .modal-body {
  background-color: #6747c7;
}
#ModalCoupon .modal-body,
#ModalCoupon .modal-body h3,
#ModalCoupon .modal-body p {
  color: #fff;
}
#ModalCoupon .modal-title h3 p {
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 40em) {
  #ModalCoupon.reveal-modal {
    min-height: 75vh;
  }
}
.with_countdown.promoNavBar.navigation-bar {
  min-height: 90px;
  background: #6747c7;
}
.with_countdown .counterContainer .squareTime {
  background-color: snow;
  border-radius: 3px;
  min-width: 8px;
  padding: 5px;
  display: block;
  margin: 2px 5px;
  color: #000;
}
.with_countdown .squareCounter {
  display: block;
  width: 50px;
  float: left;
  text-align: center;
  color: #fff;
}
.with_countdown .nav-text p {
  color: #fff;
  font-size: 1.4em;
  margin-top: 0;
}
.with_countdown.promoNavBar .top-bar-section ul li {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.with_countdown .counterContainer .squareCounter .tag {
  font-size: 0.8em;
}
.with_countdown .expired {
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 25px;
  line-height: 3;
}
#ModalCoupon .counterCtn {
  width: 100%;
  text-align: center;
  clear: both;
  height: 50px;
}
#ModalCoupon .pr_counter {
  margin: auto;
  width: 200px;
  display: flex;
}
