<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <title>Canadian RX Meds: Caring for Your Health</title>
   <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/pill-logo.ico') }}">
   <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" type="text/css" />
   <meta name="description" content="" />
   <meta name="keywords" content="" />
   <style>
      @media only screen and (max-width:992px) {
         /* .spms-container{margin:100px 0 -100px;} */
      }
   </style>
   <div class="spms-container">

   </div>
   <!-- str_site-header START -->
   <div class="page-index">
      <!-- str_site-header START -->
      <header class="site-header">
         <div class="categories-container">
            <ul class="list-menu no-list">
               {% for category in categories %}
               <li class="list-menu-item"><a href=""><span>{{ category.name }}</span></a></li>
               {% endfor %}
         </div>
         <div class="site top-line clearfix">
            <a class="btn-menu js-classSwitch" data-dbx-name=".swipe-menu,body,.swipe-overlay">
               <span></span>
               <span></span>
               <span></span>
            </a>
            <a href="/" class="logo">
               <!-- <img src="img/logo.png" class="logo-img"> -->
               <img src="/images/logo-xs-2.png" class="logo-img">
               <img src="/images/" class="logo-img-xs" style="margin-top:3px !important;">
            </a>
            <div class="categories">
               <div class="btn categories-title js-classSwitch" data-dbx-name=".categories-container">Categorías</div>
            </div>
            <!-- blocks_swipe-menu START -->
            <div class="swipe-menu js-dbx clearfix">
               <div class="switchers-box">
                  <a class="close js-classSwitch" data-dbx-name=".swipe-menu,body,.swipe-overlay"></a>
                  <div class="switchers">
                     <form action="/" method="post" class="switchers-item">
                        <div class="sexy-select">
                           <!-- Seccion de IDIOMA -->
                           <div class="title">English</div>
                        </div>
                     </form>
                     <form action="/" method="post" class="switchers-item">
                        <div class="sexy-select">
                           <!-- Seccion de MONEDAS -->
                           <div class="title">USD&nbsp;(&#36;)</div>
                        </div>
                     </form>
                  </div>
               </div>
               <!-- Carrito -->
               <div class="cart-xs">
                  <a class="btn btn-add" href="/cart.html"></a>
                  <div class="cart-items">
                     <div class="count-items">0 items</div>
                     <div class="total"><sup>&#36;</sup>0.00</div>
                  </div>
               </div>
               <div class="contact-phone icon icon-phone"><img src="/images/phone-black.png" alt=""></div>
               <!-- forms_search START -->
               <div class="form-header-search">
                  <form action="/" method="get">
                     <div class="search">
                        <!-- Input de busqueda -->
                        <input class="input-search" type="search" name="search" placeholder="Busque las píldoras..."
                           onkeypress="if(event.keyCode==13 && !this.value.length)return false; ">
                        <button type="submit" class="btn-submit js-classSwitch" data-dbx-name=".input-search">
                           <i class="icon icon-search"></i>
                        </button>
                     </div>
                     <div class="search_list_container" style="position:relative;"></div>
                  </form>
               </div>
               <!-- forms_search END --> <!-- blocks_review-item START -->
               <ul class="list-profits no-list clearfix">
                  <li class="profit-testimonials">
                     <a href="/testimonials-co.html">
                        <span>Comentarios</span>
                     </a>
                  </li>
                  <li class="profit-bonuses">
                     <a href="/bonuses-co.html">
                        <span>Bonos</span>
                     </a>
                  </li>
                  <li class="profit-support">
                     <a href="javascript:openSupportWindow();">
                        <span>Live support</span>
                     </a>
                  </li>
               </ul>
               <!-- blocks_review-item START -->
               <div class="certified">
                  <p></p>
                  <img src="/images/sertified.png" alt="">
               </div>
            </div>
            <div class="swipe-overlay"></div>
            <div class="cart-checkout js-classSwitch" data-dbx-name=".list-ordered-products">
               <div class="total">0</div>
               <div class="list-ordered-products">
                  <div class="content">
                     <p>Su carro está vacío</p>
                  </div>
                  <a href="/cart.html" class="btn btn-acc btn-rdd">Envio</a>
               </div>
            </div>
         </div>
      </header>
      <!-- str_site-header END -->
      <div class="banner">
         <div class="site">
            <h1>¡La salud interna es la garantía de hermosa apariencia!</h1>
         </div>
      </div>
      <div class="letter-search clearfix">
         <div class="site">
            <span class="title">Búsqueda por letra:</span>

            <ul class="letter-list no-list">
               {% for letter in letters %}
            <a href="/products/start/{{ letter }}/" title="{{ letter }}">{{ letter }}</a>
               {% endfor %}
            </ul>
         </div>
      </div>
      <!-- blocks_bestsellers START -->
      <section class="bestsellers">
         <div class="site">
            <h2>Bestsellers</h2>
            <!-- list-product START -->
            <div class="">
               <div class="list-product clearfix">
                  {% for product in best_sellers %}
                  <a href="/product/{{ product.id }}.html" class="list-product-item-box">
                     <div class="list-product-item">
                        <div class="product-short-info clearfix">
                           <div class="product-item-img">
                              <img class="" src="{{ product.image }}" alt="{{ product.name }}" />
                           </div>
                           <div class="product-descr">
                              <div class="product-item-heading">
                                 <h3 class="product-name">
                                    <span><span>{{ product.generic_name }}</span></span>
                                 </h3>
                              </div>
                              <p>{{ product.description }}</p>
                           </div>
                           <span class="more-info hidden-mob">más informai&oacute;n </buy-viagra-co.html>
                        </div>
                        <div class="product-item-purchase clearfix">
                           <div class="price">
                              <sup>&#36;</sup>{{ product.details.price }}
                           </div>
                           <div class="add-prod hidden-md"></div>
                           <div class="add-prod add-prod2"><span class="btn-add"></span></div>
                        </div>
                     </div>
                  </a>
                  {% endfor %}
               </div>
            </div>
            <!-- list-product END -->
         </div>
      </section>
      <!-- blocks_bestsellers END -->
      <!-- blocks_advantage START -->
      <div id="advantages-container">
         <div class="site">
            <ul class="list-advantages no-list clearfix">
               <li class="advantages-bargain  slide">
                  <div class="advantages-icon"></div>
                  <h2 class="advantages-heading">Precios de ganga</h2>
                  <p class="advantages-text">es una ventaja principal de la tienda, considerando la alta calidad de los
                     productos. Tratamos de ofrecer los precios razonables, pues la medicación más requerida debe ser
                     accesible para todos.</p>
               </li>
               <li class="advantages-secure  slide">
                  <div class="advantages-icon"></div>
                  <h2 class="advantages-heading"><span class="bold">Pedido</span> seguro</h2>
                  <p class="advantages-text">es un pago en línea seguro por compra que se proporciona mediante el
                     software Secure Socket Layer de 256 bits. Eso es 100% de garantía de compra sin riesgo.</p>
               </li>
               <li class="advantages-shipping  slide">
                  <div class="advantages-icon"></div>
                  <h2 class="advantages-heading"><span class="bold">Entrega por todo el</span> mundo</h2>
                  <p class="advantages-text">es una oportunidad de recibir un paquete con los medicamentos necesarios en
                     cualquiera de los 128 países del mundo a precios justos. Utilizamos sólo el correo aéreo como el
                     método de confianza, lo que permite entregar la mercancía conservando su integridad.</p>
               </li>
            </ul>
            <div id="slider-nav">
               <a href="#" data-slide="0" class="current"></a>
               <a href="#" data-slide="1"></a>
               <a href="#" data-slide="2"></a>
            </div>
         </div>
      </div>
      <!-- blocks_advantage END -->

      <section class="android-promo">
         <div class="promo-banner-container">
            <div class="site clearfix">
            </div>
         </div>
         <div class="over site">
            <div class="list-product clearfix">
               <!-- list-product START -->
               <ul class="list-product clearfix">
                  <!-- list-product-item START -->
                  {% for product in random_products %}
                  <a href="/product/{{ product.id }}.html" class="list-product-item-box">
                     <div class="list-product-item">
                        <div class="product-short-info clearfix">
                           <div class="product-item-img">
                              <img class="" src="{{ product.image }}" alt="{{ product.name }}" />
                           </div>
                           <div class="product-descr">
                              <div class="product-item-heading">
                                 <h3 class="product-name">
                                    <span><span>{{ product.generic_name }}</span></span>
                                 </h3>
                              </div>
                              <p>{{ product.description }}</p>
                           </div>
                           <span class="more-info hidden-mob">más informai&oacute;n </span>
                        </div>
                        <div class="product-item-purchase clearfix">
                           <div class="price">
                              <sup>&#36;</sup>{{ product.details.price }}
                           </div>
                           <div class="add-prod hidden-md"></div>
                           <div class="add-prod add-prod2"><span class="btn-add"></span></div>
                        </div>
                     </div>
                  </a>
                  {% endfor %}
                  <!-- list-product-item END -->
               </ul>
               <!-- list-product END -->
            </div>
         </div>
      </section>
      <section class="profits">
         <div class="site">
            <!-- blocks_review-item START -->
            <ul class="list-profits no-list clearfix">
               <li class="profit-testimonials">
                  <a href="/testimonials-co.html"><span>Comentarios</span></a>
               </li>
               <li class="profit-bonuses">
                  <a href="/bonuses-co.html">
                     <span>Bonos</span>
                  </a>
               </li>
               <li class="profit-support">
                  <a href="javascript:openSupportWindow();">
                     <span>Live support</span>
                  </a>
               </li>
            </ul>
            <!-- blocks_review-item START -->
         </div>
      </section>
      <div class="socialbookmarks">
         <span class='st_sharethis'></span>
         <span class='st_digg'></span>

         <span class='st_facebook'></span>
         <span class='st_twitter'></span>
         <span class='st_linkedin'></span>
         <span class='st_reddit'></span>
         <span class='st_propeller'></span>
         <span class='st_yahoo'></span>
         <span class='st_myspace'></span>
         <span class='st_email'></span>
      </div>
      <footer class="site-footer">
         <div class="site footer-content clearfix">
            <div class="col-lg col-lg-4 footer-item">
               <h2 class="heading-footer js-classSwitch" data-dbx-name="next">Contacto</h2>
               <div class="js-dropped">
                  <!-- block-contacts START -->
                  <div class="block-contacts">
                     <ul class=" list-menu no-list">
                        <!-- blocks_contacts START -->
                        <li class="block-contacts_item">
                           <span class="title">Llamada gratuita (EE.UU.):</span>
                           <img src="/images/phone.png" alt="">
                        </li>
                        <!-- blocks_contacts END -->


                        <!-- blocks_contacts START -->
                        <li class="block-contacts_item">
                           <span class="title">UK:</span>
                           <img src="/images/phone_uk.png" alt="">
                        </li>
                        <!-- blocks_contacts END -->


                        <!-- blocks_contacts START -->
                        <li class="block-contacts_item">
                           <span class="title">Regular US:</span>
                           <img src="/images/phone_us.png" alt="">
                        </li>
                        <!-- blocks_contacts END -->


                     </ul>
                  </div>
                  <!-- block-contacts END -->
               </div>
            </div>
            <div class="col-lg col-lg-4 footer-item">
               <h2 class="heading-footer js-classSwitch" data-dbx-name="next">Atención al cliente</h2>
               <div class="js-dropped">
                  <ul class="list-menu no-list">
                     <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a
                           href="/contact-co.html">Contacto</a></li>
                     <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a
                           href="/bonuses-co.html">Bonos</a></li>
                     <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/account-co.html">Rastrear
                           Pedido</a></li>
                     <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/cart-co.html">Su
                           cesta</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg col-lg-4 footer-item">
               <h2 class="heading-footer js-classSwitch" data-dbx-name="next">Information</h2>
               <div class="js-dropped">
                  <ul class="list-menu no-list">
                     <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/policy-co.html"
                           rel="nofollow">Nuestra política</a></li>
                     <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/faq-co.html"
                           rel="nofollow">Preguntas frecuentes</a></li>
                     <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/about-co.html">Quienes
                           somos</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- blocks_copy START -->
      <div class="copyright">
         <p class="site">
            <!-- Copyright © <a href=http://canadian-rx-meds.com/>canadian-rx-meds.com</a> is an affiliate marketing website. Todos los derechos reservados. -->
            Copyright © canadian-rx-meds.com. All rights reserved.
         </p>
         <ul class="no-list accept">
            <li class="accept-item"><img src="/images/master.jpg"></li>

            <li class="accept-item"><img src="/images/visa.jpg"></li>

            <li class="accept-item"><img src="/images/express.jpg"></li>
         </ul>
      </div>
      <!-- blocks_copy START -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

      <script src="{{ url_for('static', path='js/js.js') }}"></script>
   </div>
   <!-- Put your GoogleAnalytics (google.com/analytics) code here -->



   </body>

</html>