<!doctype html>
<html lang="en">

<head>
    <title>Buy2 pharma - Offshore Generic Meds Without Prescription</title>
    <meta name="description" content="Buy pharma today, get Tramadol, purchase generic soma, generic viagra & cialis from our online pharmacy. Order your cheap meds today." />
    <meta name="keywords" content="Buy pharma, Generic Cheap Meds Online,Pharmacy Online,Pharmacy Store,Cheap Medicine Online Store">

</head>

<body>
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <!-- Off Canvas Menu Left -->
            <aside class="left-off-canvas-menu">
                <div class="sidebar dark">
                    <div class="catNavigation">
                        <ul>
                            {% for category in categories %}
                            <li> <a href="{{ category.image_url }}">{{ category.name }}</a>
                                <ul>
                                    {% for product in category.products %}
                                    <li>
                                        <a href="{{ product.image_url }}">{{ product.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- catNavigation -->
                    <div class="sidebarEnd"> </div>
                </div>
                <!-- sidebar -->
                <div class="icons show-for-large-up">
                    <img class="lazyload" data-src="/resources/images/ebp/freerisk.png" src="/resources/images/img-placeholder.jpg" alt="">
                    <p class="freerisk">
                        We guarantee the delivery of your order in all purchases shipped from USA to USA territory.
                        <br><br> Orders sent from USA will arrive in about 3 to 5 business days to USA and between 15 to
                        20 days to the rest of the world.
                    </p>
                </div>
                <!-- icons -->
            </aside>

            <!-- Off Canvas Menu Right -->
            <aside class="right-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><label>Languages</label></li>
                    <li>
                        <a href="#" class="">
                            <span class="flag flag-us" alt="English"></span> English </a>
                        <a href="/esp"><span class="flag flag-es" alt="Español"></span> Español</a>
                    </li>
                </ul>
                <ul class="off-canvas-list">
                    <li><label>Currency</label></li>
                    <li>
                        <a class="" href="#">
                            $ USD </a>
                        <a href="/changecurrency/1">
                            € EUR </a>
                        <a href="/changecurrency/2">
                            £ GBP </a>
                    </li>
                </ul>
            </aside>

            <div id="load"></div>

            <div class="modal">
                <div class="overlay"></div>
                <div class="modal__contents modal--transition">
                    <a class="modal__close" href="#">X</a>
                    <div class="contentmodal">
                        <form name="formcheckorder" id="formcheckorder" action="/order/">
                            <div style="margin: 0; padding: 0; text-align: left;display: block;font-size: 25px;margin-bottom: 20px;color: #008cba;">
                                Check Order Status
                            </div>
                            <div class="row">
                                <input class="inputcheckorder" id="fco_orderid" name="orderid" type="text" required placeholder="Order Number" />
                            </div>
                            <div class="row">
                                <input class="inputcheckorder" id="fco_email" name="email" type="email" required placeholder="Email used to place the order" />
                            </div>
                            <div class="row">
                                <input class="button btncheckorder" name="submit" type="submit" value="Check Order" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Contenido principal -->
            <div class="mainHeader">
                <div class="header clearfix">
                    <div class="row">
                        <div class="topbar clearfix">
                            <div class="large-4 medium-8 small-6 columns show-for-large-up">
                                <a href="/">
                                    <img src="/resources/images/ebp/EBPLogo.png" alt="" style="display:block; margin:0 auto;">
                                </a>
                            </div>
                            <div class="large-8 columns show-for-large-up">
                                <div class="toolFree ">
                                    <div class="large-7 large-offset-5 columns">
                                        <div class="contact phoneHeader">
                                            <div class="phone-icon show-for-large-up">
                                                <svg enable-background="new 0 0 40 40" height="40px" id="Layer_1" version="1.1" viewBox="0 0 40 40" width="40px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <path d="M20,2c9.925,0,18,8.075,18,18s-8.075,18-18,18c-9.925,0-18-8.075-18-18S10.075,2,20,2 M20,0      C8.955,0,0,8.954,0,20c0,11.047,8.955,20,20,20c11.047,0,20-8.953,20-20C40,8.954,31.047,0,20,0L20,0z" fill="#FFFFFF"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                        <path clip-rule="evenodd" d="M14.371,9.793c1.207-0.228,1.998,1.133,2.6,2.072   c0.586,0.912,1.307,1.982,1.016,3.169c-0.162,0.666-0.764,1.029-1.219,1.422c-0.449,0.388-1.133,0.744-1.299,1.34   c-0.271,0.967,0.322,1.982,0.689,2.56c0.834,1.306,1.842,2.483,3.129,3.534c0.623,0.51,1.488,1.191,2.355,1.016   c1.295-0.262,1.637-1.859,3.047-2.072c1.342-0.203,2.25,0.77,3.008,1.422c0.73,0.631,1.908,1.439,1.828,2.52   c-0.047,0.621-0.545,1.006-0.977,1.381c-0.439,0.383-0.824,0.813-1.258,1.096c-1.051,0.686-2.34,1.022-3.82,0.976   c-1.451-0.045-2.607-0.538-3.656-1.097c-2.051-1.094-3.672-2.633-5.199-4.348c-1.502-1.686-2.889-3.682-3.656-5.889   c-0.957-2.756-0.451-5.587,1.098-7.353c0.262-0.3,0.676-0.613,1.055-0.935C13.49,10.284,13.84,9.893,14.371,9.793z" fill="#FFFFFF" fill-rule="evenodd"></path>
                                                    </g>
                                                </svg>
                                                <span class="number text-left">+1 (904) 638-5180 </span>
                                            </div>
                                            <a href="#" class="LiveHelpButton default">
                                                <img src="https://www.easybuypharma.com/livehelp/include/status.php" id="LiveHelpStatusDefault" name="LiveHelpStatusDefault" border="0" alt="Live Help" class="LiveHelpStatus" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .mainHeader -->
        </div>
    </div>
</body>

</html>