<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <title>Nombre del producto</title>
   <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/pill-logo.ico') }}">
   <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" type="text/css" />
   <meta name="description" content="" />
   <meta name="keywords" content="" />
  <script
    type="text/javascript">if (document.cookie.indexOf("rf=") != -1) document.cookie = 'rf="' + document.referrer + '"'
  </script>
    
</head>

<body class="es">
  <style>
    @media only screen and (max-width:992px) {
      /* .spms-container{margin:100px 0 -100px;} */
    }
  </style>
  <div class="spms-container">

  </div>
  <!-- str_site-header START -->
  <div class="page-product">
    <!-- str_site-header START -->
    <header class="site-header">
      <div class="categories-container">
        <ul class="list-menu no-list">
          {% for category in categories %}
          <li class="list-menu-item"><a href="/products/by/category/{{ category.id }}/"><span>{{ category.name }}</span></a></li>
          {% endfor %}
       </ul>
      </div>
      <div class="site top-line clearfix">
        <a class="btn-menu js-classSwitch" data-dbx-name=".swipe-menu,body,.swipe-overlay">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <a href="/" class="logo">
          <!-- <img src="images/logo.png" class="logo-img"> -->
          <img src="images/logo-xs-2.png" class="logo-img">
          <img src="/images/logo-xs-2.png" class="logo-img-xs" style="margin-top:3px !important;">
        </a>
        <div class="categories">
          <div class="btn categories-title js-classSwitch" data-dbx-name=".categories-container">Categorías</div>
        </div>
        <!-- blocks_swipe-menu START -->
        <div class="swipe-menu js-dbx clearfix">
          <div class="switchers-box">
            <a class="close js-classSwitch" data-dbx-name=".swipe-menu,body,.swipe-overlay"></a>
            <div class="switchers">
              <form action="/" method="post" class="switchers-item">
                <div class="sexy-select">
                   <!-- Seccion de IDIOMA -->
                   <div class="title">English</div>
                </div>
             </form>
              <form action="/" method="post" class="switchers-item">
                <div class="sexy-select">
                   <!-- Seccion de MONEDAS -->
                   <div class="title">USD&nbsp;(&#36;)</div>
                </div>
             </form>
            </div>
          </div>
          <div class="cart-xs">
            <a class="btn btn-add" href="/cart.html"></a>
            <div class="cart-items">
              <div class="count-items">0 items</div>
              <div class="total"><sup>&#36;</sup>0.00</div>
            </div>
          </div>
          <div class="contact-phone icon icon-phone"><img src="/images/phone-black.png" alt=""></div>
          <!-- forms_search START -->
          <div class="form-header-search">
            <form action="/" method="get">
              <div class="search">
                <input class="input-search" type="search" name="search" placeholder="Busque las píldoras..."
                  onkeypress="if(event.keyCode==13 && !this.value.length)return false; ">
                <button type="submit" class="btn-submit js-classSwitch" data-dbx-name=".input-search"><i
                    class="icon icon-search"></i></button>
              </div>
              <div class="search_list_container" style="position:relative;"></div>
            </form>
          </div>
          <!-- forms_search END --> <!-- blocks_review-item START -->
          <ul class="list-profits no-list clearfix">
            <li class="profit-testimonials">
              <a href="/testimonials-co.html"><span>Comentarios</span></a>
            </li>
            <li class="profit-bonuses">
              <a href="/bonuses-co.html">
                <span>Bonos</span>
              </a>
            </li>
            <li class="profit-support">
              <a href="javascript:openSupportWindow();">
                <span>Live support</span>
              </a>
            </li>
          </ul>
          <!-- blocks_review-item START -->
          <div class="certified">
            <p></p>
            <img src="/images/sertified.png" alt="">
          </div>
        </div>
        <div class="swipe-overlay"></div>
        <div class="cart-checkout js-classSwitch" data-dbx-name=".list-ordered-products">
          <div class="total">0</div>
          <div class="list-ordered-products">
            <div class="content">
              <p>Su carro está vacío</p>
            </div>
            <a href="/cart.php" class="btn btn-acc btn-rdd">Envio</a>
          </div>
        </div>
      </div>
    </header>
    <!-- str_site-header END -->
    <section class="breadcrumbs">
      <!-- lists_breadcrumbs START -->
      <ul class="list-breadcrumbs no-list site">
        <li class="list-menu-item">
          <a href="/home/">Home</a>
        </li>
        <li class="list-menu-item">
          <a href="/products/by/category/{{ product.category_id }}/">{{ product.category.name }}</a>
        </li>
        <li class="list-menu-item">
          <a href="">{{ product.generic_name  }}</a>
        </li>
      </ul>
      <!-- lists_breadcrumbs END -->
    </section>
    <div class="site clearfix">
      <h1 class="page-title hidden-lg ">{{ product.generic_name  }}</h1>
    </div>
    <section class="site-middle">
      <div class="site">
        <div class="product-preview">
          <!-- Producto info basica -->
          <div class="block-product">
            <div class="view">
              <img class="" src="{{ url_for('static', path=product.image_url)}}" alt="Levitra" />

              <img style="cursor: pointer;" src="{{ url_for('static', path=product.image_url)}}" onclick="popItUp('/static/{{ product.image_url }}','',520,520);return false;" alt="">
                
              <img
                onclick="popItUp('/static/{{ product.image_url }}','',520,520);return false;"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABFUlEQVR4nO2WzWrCUBCFv0031b5BXbtQaArS1IV7pU/XnwdwaxF8p8YuhFbUla5uGTiBIvYmlEmK1QMHwszc+bjJ5HLhrFPUAzAHgpMzYFQGnDlCc7+VAYeKfHzgLfAIpEBDtudnYFcVeA7cRNYkJQayUId2mkNbwBTYyDOgrdxtwc4Ltb/AXm8O/TyQXypnevEE3yk+jTR9Vc29J7ip+CbSdK2aq7rBK9U0PMGp4rNI04lqUk/wk+JtDdJ+/gO4Vs3Y+3dKlGtpkNby5Bv0Aniv4gBJImsMauoAC09w0OFgx2NfA3epbzrWTg1q6v4A/zW4yAtBTb06wUFwgw7qBgfv4Qp1gLO/uvqMnOEGHZYBn/W/9AW9cpannv3/6QAAAABJRU5ErkJggg=="
                style="cursor: pointer;">

            </div>
            <p class="brands"><span class="title">Marca(s):
              {% for brand in brands %}
              <span class="manufacturer">{{ brand }}</span>
              {% endfor %}
            <p><span class="title">Fabricante: </span>
              {% for manufacturer in manufacturers %}
              <span class="manufacturer">{{ manufacturer }}</span>
              {% endfor %}
            <p class="diseas"><span class="title">Diseases: </span>Erectile Dysfunction / Impotence</p>
            <p class="diseas"><span class="title">Quantity: </span> <span style="color:green;"><b>In stock</b></span>
            </p>
            <div class="prod-profits hidden-mob">
              <div class="prod-profits-item icon icon-worldwide">&nbsp;Worldwide shipping</div>
              <div class="prod-profits-item icon icon-secure-ordering">&nbsp;Secure ordering</div>
            </div>
          </div>
          <div class="product-desc">
            <h1 class="hidden-dev">{{ product.generic_name }}</h1>
            {% if product.description %}
                <p>{{ product.description | safe }}</p>
            {% endif %}
        </div>
          <div class="visible-xso js-classSwitch more-info" data-dbx-name=".product-desc">
            <span class="more">More info</span>
            <span class="less">Less info</span>
          </div>
        </div>
      </div>
      <div class="site clearfix">

        <main class="col-lg col-right content">
          {% for product_with_detail in products_with_detail %}
          <div class="tbl-dosage">{{ product_with_detail.strength  }}</div>
          <table class="tbl-product">
            <thead>
              <tr>
                <!-- tbl_product_thead START -->
                <th class="package">Empaquetado</th>

                <th class="price">Precio</th>

                <th class="per_pill">Per comprimido</th>

                <th class="order">Order</th>
              </tr>
            </thead>


            <tbody class="free-bonus">
              <tr>
                <td class="package">
                  <div class="td-inner">
                    {{ product_with_detail.quantity_per_pack }} tablets
                    <div class="hidden-md">ahorro &#36;&nbsp;530.15</div>
                  </div>
                  <ul class="stars hidden-mob">

                    <li class="icon icon-plus-circle">
                      <span><span class="pills">{{ product.generic_name }} {{ product_with_detail.strength  }} x 20 pills FREE bonus!</span></span>
                    </li>

                    <li class="icon icon-plus-circle">
                      <span><i></i><span class="shipping">Free AirMail shipping</span></span>
                    </li>

                  </ul>
                </td>

                <td class="price">
                  <div class="td-inner">
                    <sup>&#36;</sup>&nbsp;{{ product_with_detail.price }} 
                  </div>
                </td>
                <td class="per_pill">
                  <div class="td-inner">
                    <sup>&#36;</sup>&nbsp;{{ (product_with_detail.price | float / product_with_detail.quantity_per_pack | int) | round(2) }}
                </td>                
                <td class="order">
                  <div class="td-inner">
                    <a href="cart.php?add=78190"><button class="btn btn-rdd btn-inverse">
                        <span class="icon icon-cart-green-small"></span>
                        <span class="hidden-mob">Añadir a la cesta</span>
                      </button></a>
                  </div>
                </td>
              </tr>
              {% for presentation in product_with_detail.other_presentations %}
              <tr>
                <td class="package">
                  <div class="td-inner">
                    {{ presentation.quantity }} tablets
                    <div class="hidden-md">ahorro &#36;&nbsp;530.15</div>
                  </div>
                  <ul class="stars hidden-mob">

                    <li class="icon icon-plus-circle">
                      <span><span class="pills">{{ product.generic_name }} {{ product_with_detail.strength  }} x 20 pills FREE bonus!</span></span>
                    </li>

                    <li class="icon icon-plus-circle">
                      <span><i></i><span class="shipping">Free AirMail shipping</span></span>
                    </li>

                  </ul>
                </td>

                <td class="price">
                  <div class="td-inner">
                    <sup>&#36;</sup>&nbsp;{{ presentation.price }} 
                  </div>
                </td>
                <td class="per_pill">
                  <div class="td-inner">
                    <sup>&#36;</sup>&nbsp;{{ (presentation.price | float / presentation.quantity | int) | round(2) }}
                </td>                
                <td class="order">
                  <div class="td-inner">
                    <a href="cart.php?add=78190"><button class="btn btn-rdd btn-inverse">
                        <span class="icon icon-cart-green-small"></span>
                        <span class="hidden-mob">Añadir a la cesta</span>
                      </button></a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}

          <!-- tbl_products END -->

          <article>
            <h1>Pastillas de {{ product.generic_name }}</h1>
            {{ product.large_description | safe }}
          </article>
          <!-- page-product END -->

        </main>
        <aside class="col-lg col-left aside">

          <!-- list-profits START -->
          <!-- blocks_review-item START -->
          <ul class="list-profits no-list clearfix">
            <li class="profit-testimonials">
              <a href="/testimonials-co.html"><span>Comentarios</span></a>
            </li>
            <li class="profit-bonuses">
              <a href="/bonuses-co.html">
                <span>Bonos</span>
              </a>
            </li>
            <li class="profit-support">
              <a href="javascript:openSupportWindow();">
                <span>Live support</span>
              </a>
            </li>
          </ul>
          <!-- blocks_review-item START -->
          <div class="aside-banner clearfix">

          </div>
          <!-- blocks_promo-banner END -->
        </aside>
      </div>
    </section>
    <div class="socialbookmarks">
      <span class='st_sharethis'></span>
      <span class='st_digg'></span>

      <span class='st_facebook'></span>
      <span class='st_twitter'></span>
      <span class='st_linkedin'></span>
      <span class='st_reddit'></span>
      <span class='st_propeller'></span>
      <span class='st_yahoo'></span>
      <span class='st_myspace'></span>
      <span class='st_email'></span>
    </div>
    <footer class="site-footer">
      <div class="site footer-content clearfix">
        <div class="col-lg col-lg-4 footer-item">
          <h2 class="heading-footer js-classSwitch" data-dbx-name="next">Contacto</h2>
          <div class="js-dropped">
            <!-- block-contacts START -->
            <div class="block-contacts">
              <ul class=" list-menu no-list">
                <!-- blocks_contacts START -->
                <li class="block-contacts_item">
                  <span class="title">Llamada gratuita (EE.UU.):</span>
                  <img src="/images/phone.png" alt="">
                </li>
                <!-- blocks_contacts END -->


                <!-- blocks_contacts START -->
                <li class="block-contacts_item">
                  <span class="title">UK:</span>
                  <img src="/images/phone_uk.png" alt="">
                </li>
                <!-- blocks_contacts END -->


                <!-- blocks_contacts START -->
                <li class="block-contacts_item">
                  <span class="title">Regular US:</span>
                  <img src="/images/phone_us.png" alt="">
                </li>
                <!-- blocks_contacts END -->


              </ul>
            </div>
            <!-- block-contacts END -->
          </div>
        </div>
        <div class="col-lg col-lg-4 footer-item">
          <h2 class="heading-footer js-classSwitch" data-dbx-name="next">Atención al cliente</h2>
          <div class="js-dropped">
            <ul class="list-menu no-list">
              <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/contact-co.html">Contacto</a>
              </li>
              <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/bonuses-co.html">Bonos</a></li>
              <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/account-co.html">Rastrear
                  Pedido</a></li>
              <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/cart-co.html">Su cesta</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg col-lg-4 footer-item">
          <h2 class="heading-footer js-classSwitch" data-dbx-name="next">Information</h2>
          <div class="js-dropped">
            <ul class="list-menu no-list">
              <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/policy-co.html"
                  rel="nofollow">Nuestra política</a></li>
              <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/faq-co.html"
                  rel="nofollow">Preguntas frecuentes</a></li>
              <li class="list-menu-item"><i class="icon  icon-list-arrow"></i><a href="/about-co.html">Quienes somos</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- blocks_copy START -->
    <div class="copyright">
      <p class="site">
        <!-- Copyright © <a href=http://canadian-rx-meds.com/>canadian-rx-meds.com</a> is an affiliate marketing website. Todos los derechos reservados. -->
        Copyright © canadian-rx-meds.com. All rights reserved.
      </p>
      <ul class="no-list accept">
        <li class="accept-item"><img src="/images/master.jpg"></li>

        <li class="accept-item"><img src="/images/visa.jpg"></li>

        <li class="accept-item"><img src="/images/express.jpg"></li>
      </ul>
    </div>
    <!-- blocks_copy START -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script src="{{ url_for('static', path='js/js.js') }}"></script>
  </div>
  <!-- Put your GoogleAnalytics (google.com/analytics) code here -->

</body>

</html>